/*CSS reset inicio*/
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*CSS reset fim*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #084167;
    min-height: 320px;
    max-width: 100%;
}

header {
    height: 10vh;
    width: 98vw;
    padding: 0.5em 1.5em 0.5em 1.5em;
    background-color: #042940;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-right: 3vw;
}

.navOption {
    margin-left: 3vw;
    color: white;
}

.logoClean {
    margin: 1vh 1vh;
}

.grid-container {
    display: grid;       
    padding: 1vh;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 30vh 50vh;
    gap: 1vh;
    color: white;
    font-weight: bold;
}

.grid-item {
    border: 0.2vh solid red;
    margin: 1vh;
    padding: 2vh;
}

.item1 {
    display: flex;
    text-align: left;
}

.tittle {
    margin-left: 2vw;
}

.subTittle {
    margin-top: 2vh;
    margin-left: 2vw;
}
.item2 {
    grid-row: 1 / 3;    
    grid-column-start: 2;
    background-color: #dbf227;
    color: black;
    font-weight: bold;
}


.bar{
    position: relative;
    background-color: black;    
    width: 80%;
    height: 1px;
    border-radius: 10px;
    margin-top: 8%;
}


.marker{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 20px;
    height: 12px;
    width: 26px;
}

.tittleBar {
    color: black;
}

.featuresRight {
   margin-left: 28vw;
}

.curiosities {
    margin-top: 5vh;
}

.button{
    background-color: #dbf227;
    border: solid 2vh #dbf227;
    border-radius: 2vh;
    color: black;
}

.buttons{
    margin-top: 8vh;
}
@media (max-width: 1360px ) and (min-width: 1010px){
    .item2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .bar{            
        width: 100%;       
        margin-top: 10%;
    }
}

@media (max-width: 1010px) {
    .grid-container {
      display: flex;
      flex-direction: column;
    }

    .bar{            
        width: 100%;   
        margin-top: 10%;
    }

    .item1 {
        display: flex;
        flex-direction: column;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
    }

    .item2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .bar{
        position: relative;
        background-color: black;    
        width: 100%;
        height: 1px;
        border-radius: 10px;
        margin-top: 10%;
    }
}



