/*CSS reset starts*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*CSS reset end*/

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #084167;
}

/* Header and NavBar*/
header {
  height: 10vh;
  width: 100vw;
  padding: 0.5em 1.5em 0.5em 1.5em;
  background-color: #042940;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin-right: 3vw;
}

.navOption {
  margin-left: 3vw;
  color: white;
}

.logoClean {
  margin: 1vh 1vh;
}

/*Content*/
.content {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.arrow>span {
  font-size: 4em;
  color: #fff;
  cursor: pointer;
}

#image {
  transition-duration: 1s;
}

#photo {
  display: flex;
  flex-direction: column;
}

#photo>span {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  padding: 0.5em;
  margin: 0 auto;
  text-align: center;
}